.headerOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  margin-bottom: 2px;
}
/* 
.headerOptions:after {
  border-bottom: 2px solid blue;
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  width: 100%;
} */

.headerOptions__title {
  font-size: 12px;
  font-weight: 400;
}

.headerOptions:hover {
  color: black;
  transform: scale(1.02);
}
.headerOptions__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
/* .headerOptions__title:hover{
  border-bottom: 1px dotted blue;
} */
