body {
  overflow: scroll;
  overflow-x: hidden;
}

:root,
body,
html {
  background-color: #f5f5f5;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
nav,
ul,
li,
ol,
html,
img,
header,
label,
small,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: nonr;
  font-size: 100%;
  background-color: transparent;
  vertical-align: baseline;
}
body {
  font-family: Arial, sans-serif;
}
