.Content_section {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 700px;
  padding: 60px 0;
  padding-top: 40px;
  padding-bottom: 138px;
  position: relative;
  width: 110% !important;
  /* max-width: 110%; */
  align-items: center;
  margin: auto;
}
@media (max-width: 700px) {
  h1 {
    text-align: center;
    font-size: 20px !important;
    width: 100% !important;
    line-height: 2;
  }
  .login {
    display: grid;
    place-items: center !important;
    margin: 0 !important;
    /* margin-right: auto !important; */
    padding: 50px 0 !important;
  }
}
@media (max-width: 780px) and (min-width: 1023px) {
  h1 {
    text-align: center;
    font-size: 30px !important;
    width: 100% !important;
    line-height: 2;
  }
}
@media (min-width: 900px) {
  h1 {
    line-height: 2;
    width: 100% !important;
    font-size: 48px !important;
  }
}
@media (max-width: 780px) and (min-width: 1023px) {
  .login > form > input {
    height: 40px;
    font-size: 12px !important;
    width: 60% !important;
    padding-left: 10px;
    margin-left: 20px !important;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .login > form > button {
    height: 50px;
    width: 50%;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
    border-radius: 5px;
    height: 40px;
    font-size: 12px !important;
    width: 60% !important;
    padding-left: 10px;
    margin-left: 20px !important;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .login > form {
    margin-left: 113px !important;
    width: 50% !important;
  }
  .Content_Login {
    position: absolute;
    bottom: 0;
    top: 240px;
    display: flex;
    align-items: center;
    margin: 20px;
    width: 110% !important;
    max-width: 98% !important;
    justify-content: start !important;
    top: 740px !important;
  }
}
@media (max-width: 700px) and (min-width: 875px) {
  .Content_Login {
    position: absolute;
    bottom: 0;
    top: 240px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px;
    width: 110% !important;
    max-width: 98% !important;
    justify-content: start !important;
  }
}

@media (max-width: 875px) and (min-width: 1024px) {
  .Content_Login {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center !important;
    /* justify-content: center !important; */
    margin: 20px;
    /* width: 100%; */
    top: 300px !important;
  }
  .Content_Login_btn {
    width: 70% !important;
  }
}

@media (max-width: 779px) {
  .Content_section {
    margin: auto;
    min-height: 0;
  }
  .login > form {
    margin-left: 110px !important;
  }
  h1 {
    text-align: center;
    font-size: 30px;
    width: 100% !important;
    line-height: 2;
  }

  .Content_img {
    height: 600px !important;
    width: initial;
    position: initial;
    top: 90px;
    right: -140px;
  }
  .Content_Login {
    position: absolute;
    bottom: 0;
    top: 240px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px;
    width: 110% !important;
    max-width: 98% !important;
    justify-content: center !important;
    top: 740px !important;
  }
}
@media (min-width: 1440px) {
  .login {
    margin-top: 67px !important;
  }
  .Content_Login {
    top: 300 !important;
  }
}
h1 {
  padding-bottom: 0;
  /* font-size: 50px; */
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
}
.Content_img {
  /* z-index: -1; */
  width: 700px;
  height: 670px;
  position: absolute;
  bottom: -2px;
  right: -40px;
}

.Content_Login_btn:focus {
  outline-width: 0 !important;
}
.Content_Login {
  position: absolute;
  /* bottom: 0; */
  top: 240px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px;
  width: 90%;
  max-width: 90%;
}

.login {
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 100px 0;
}

.login > img {
  object-fit: contain;
  height: 70px;
  margin: 20px 0;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  height: 40px;
  font-size: 20px;

  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login > form > button {
  height: 50px;
  width: 350px;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  border-radius: 5px;
}

.login__register {
  color: #0177b7;
  cursor: pointer;
}

.login > p {
  margin-top: 20px;
}
